/* progress bar */

svg {
    width: 114px;
    height: 114px;
    margin: 1em;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* ABOUT ME */
.about-me{
    margin-bottom: 10vh;
}
.about-me, hr{
    margin-bottom: 2vh;
}
.about-me h4, p:first-child{
    margin-top: 2vh;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-right: 20px;
}



/* LANGUAGES */
.languages{
    width: 100%;
    text-align: center;
}
.languages .title{
    padding: 2vh;
}
.skills{
    margin-bottom: 10vh;
}


/* CISCO COURSES */
.cisco-courses table{
    margin-bottom: 10vh;
    width: 100%;
    text-align: center;
}
.cisco-courses td{
    padding-top: 3%;
}
.cisco-courses img{
    width: 150px;
}

.languages, .cisco-courses {
    overflow-x: auto;
    display: block;
}
.cisco-courses img {
    width: 100%;
    max-width: 150px;
    height: auto;
}
.languages td, .cisco-courses td {
    padding: 5px;
    margin: 0;
}



@media only screen and (max-width: 768px) {
    .languages td, .cisco-courses td {
        font-size: 0.8em;
    }
    .skills {
        flex-direction: column;
        align-items: center;
    }

    .languages, .cisco-courses table {
        width: 100%;
        overflow-x: auto;
    }
}