/* progress bar */
.skill{
    text-align: center;
}
svg {
    width: 114px;
    height: 114px;
    margin: 1em;
}
.bg {
    fill: none;
    stroke-width: 10px;
    stroke: #1A2C34;
}
.skills{
    display: flex;
    flex-wrap: wrap; /* Añadido para permitir que los elementos se envuelvan */
    justify-content: space-around;
}

[class^="meter-"] {
    fill: none;
    stroke-width: 10px;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke-dasharray: 360;
    stroke: greenyellow;
    animation: progress-1 1s ease-out;

}

/* ABOUT ME */
.about-me{
    margin-bottom: 10vh;
    margin-top: 10vh;
}
.about-me h4, p:first-child{
    margin-top: 2vh;
}



/* LANGUAGES */
.languages{
    width: 100%;
    text-align: center;
}
.languages .title{
    padding: 2vh;
}
.meter-spanish-oral-comprehension{stroke-dashoffset: 0;}
.meter-spanish-speaking{stroke-dashoffset: 0;}
.meter-spanish-reading-comprehension{stroke-dashoffset: 0;}
.meter-spanish-writing{stroke-dashoffset: 0;}

.meter-english-oral-comprehension{stroke-dashoffset: 110;}
.meter-english-speaking{stroke-dashoffset: 250;}
.meter-english-reading-comprehension{stroke-dashoffset: 70;}
.meter-english-writing{stroke-dashoffset: 110;}

.meter-galician-oral-comprehension{stroke-dashoffset: 0;}
.meter-galician-speaking{stroke-dashoffset: 100;}
.meter-galician-reading-comprehension{stroke-dashoffset: 0;}
.meter-galician-writing{stroke-dashoffset: 150;}


/* SKILLS */
.skills{
    margin-bottom: 10vh;
}
.meter-teamwork {stroke-dashoffset: 170;}
.meter-problem-solving {stroke-dashoffset: 60;}
.meter-adaptability {stroke-dashoffset: 60;}
.meter-creativity {stroke-dashoffset: 80;}
.meter-time-management{stroke-dashoffset: 120;}


/* PROGRAMING LANGUAGES */
.meter-python {stroke-dashoffset: 100;}
.meter-html {stroke-dashoffset: 50;}
.meter-css {stroke-dashoffset: 80;}
.meter-php {stroke-dashoffset: 190;}
.meter-js {stroke-dashoffset: 160;}
.meter-java {stroke-dashoffset: 300;}



/* CISCO COURSES */
.cisco-courses table{
    margin-bottom: 10vh;
    width: 100%;
    text-align: center;
}
.cisco-courses td{
    padding-top: 3%;
}
.cisco-courses img{
    width: 150px;
}

.languages, .cisco-courses {
    overflow-x: auto;
    display: block;
}
.cisco-courses img {
    width: 100%;
    max-width: 150px;
    height: auto;
}
.languages td, .cisco-courses td {
    padding: 5px;
    margin: 0;
}



@media only screen and (max-width: 768px) {
    .languages td, .cisco-courses td {
        font-size: 0.8em;
    }
    .skills {
        flex-direction: column;
        align-items: center;
    }

    .languages, .cisco-courses table {
        width: 100%;
        overflow-x: auto;
    }
}